/* This is descendant child (space)
.list-1 .item-1 {
    color:red;
} */

/* This is child selector (>) */
/* .list-1 > .item {
    border: 1px solid #333;
} */

/* This is adjacent sibling selector (+)  */
/* .list-1 .item-2 + .item {
    border: 1px solid #333;
} */

/* This is general sibling selector (~) */
.list-2 .item-1 ~ .item {
    border: 1px solid #333;
}