body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: row;
    background-color: #DDD;
    color: #FFF;
    /* justify-content: center;
    height: 250px;
    align-items: stretch; */
}

.child-1 {
    background-color: plum;
    flex-basis: 150px;
}

.child-2 {
    background-color: powderblue;
    flex-basis: 200px;
    flex-grow: 2;
}

.child-3 {
    background-color: salmon;
    flex-basis: 150px;
}